In [1]:
from github import Github
import requests

import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
g = Github("15f73a5eae770b0efdd4ddf82f0eacbbca305ad6")

In [5]:
repo = g.get_repo("ironhack-datalabs/madrid-oct-2018")

In [9]:
resp = requests.get('https://api.github.com/repos/ironhack-datalabs/mad-oct-2018/forks')
json1 = resp.json()

In [18]:
data = pd.DataFrame(json1)
data

NameError: name 'json1' is not defined

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 16 non-null     int64
 1   node_id            16 non-null     object
 2   name               16 non-null     object
 3   full_name          16 non-null     object
 4   private            16 non-null     bool
 5   owner              16 non-null     object
 6   html_url           16 non-null     object
 7   description        8 non-null      object
 8   fork               16 non-null     bool
 9   url                16 non-null     object
 10  forks_url          16 non-null     object
 11  keys_url           16 non-null     object
 12  collaborators_url  16 non-null     object
 13  teams_url          16 non-null     object
 14  hooks_url          16 non-null     object
 15  issue_events_url   16 non-null     object
 16  events_url         16 non-null     object
 17  assignees_url      16 non-null     object
 18  branches_url       16 non-null     object
 19  tags_url           16 non-null     object
 20  blobs_url          16 non-null     object
 21  git_tags_url       16 non-null     object
 22  git_refs_url       16 non-null     object
 23  trees_url          16 non-null     object
 24  statuses_url       16 non-null     object
 25  languages_url      16 non-null     object
 26  stargazers_url     16 non-null     object
 27  contributors_url   16 non-null     object
 28  subscribers_url    16 non-null     object
 29  subscription_url   16 non-null     object
 30  commits_url        16 non-null     object
 31  git_commits_url    16 non-null     object
 32  comments_url       16 non-null     object
 33  issue_comment_url  16 non-null     object
 34  contents_url       16 non-null     object
 35  compare_url        16 non-null     object
 36  merges_url         16 non-null     object
 37  archive_url        16 non-null     object
 38  downloads_url      16 non-null     object
 39  issues_url         16 non-null     object
 40  pulls_url          16 non-null     object
 41  milestones_url     16 non-null     object
 42  notifications_url  16 non-null     object
 43  labels_url         16 non-null     object
 44  releases_url       16 non-null     object
 45  deployments_url    16 non-null     object
 46  created_at         16 non-null     object
 47  updated_at         16 non-null     object
 48  pushed_at          16 non-null     object
 49  git_url            16 non-null     object
 50  ssh_url            16 non-null     object
 51  clone_url          16 non-null     object
 52  svn_url            16 non-null     object
 53  homepage           8 non-null      object
 54  size               16 non-null     int64
 55  stargazers_count   16 non-null     int64
 56  watchers_count     16 non-null     int64
 57  language           14 non-null     object
 58  has_issues         16 non-null     bool
 59  has_projects       16 non-null     bool
 60  has_downloads      16 non-null     bool
 61  has_wiki           16 non-null     bool
 62  has_pages          16 non-null     bool
 63  forks_count        16 non-null     int64
 64  mirror_url         0 non-null      object
 65  archived           16 non-null     bool
 66  disabled           16 non-null     bool
 67  open_issues_count  16 non-null     int64
 68  license            15 non-null     object
 69  forks              16 non-null     int64
 70  open_issues        16 non-null     int64
 71  watchers           16 non-null     int64
 72  default_branch     16 non-null     object
dtypes: bool(9), int64(9), object(55)
memory usage: 8.3+ KB

In [16]:
#todos los forks

data['full_name'].value_counts()

pablobarrio/madrid-oct-2018           1
lmartinezruizit/datamad0119           1
eye8/madrid-oct-2018                  1
ToniPons97/mad-oct-2018               1
criraca/madrid-oct-2018               1
nancyulric/mad-oct-2018               1
miriammg/madrid-oct-2018              1
albertogcmr/madrid-oct-2018           1
rsennes/mad-oct-2018                  1
gggfaria/mad-oct-2018                 1
AlbertoCastellanos/madrid-oct-2018    1
Spurda/mad-oct-2018                   1
elenajpp/madrid-oct-2018              1
marisfont/madrid-oct-2018             1
ArieHassan/madrid-oct-2018            1
cmvalma/madrid-oct-2018               1
Name: full_name, dtype: int64

In [17]:
#lenguajes
data['language'].value_counts()

Jupyter Notebook    13
HTML                 1
Name: language, dtype: int64

Challenge 2

In [22]:
resp2 = requests.get('https://api.github.com/repos/ironhack-datalabs/mad-oct-2018/stats/commit_activity')
json2 = resp2.json()
data2 = pd.DataFrame(json2)
data2

    total        week                   days
0       0  1567296000  [0, 0, 0, 0, 0, 0, 0]
1       0  1567900800  [0, 0, 0, 0, 0, 0, 0]
2       0  1568505600  [0, 0, 0, 0, 0, 0, 0]
3       0  1569110400  [0, 0, 0, 0, 0, 0, 0]
4       0  1569715200  [0, 0, 0, 0, 0, 0, 0]
5       0  1570320000  [0, 0, 0, 0, 0, 0, 0]
6       0  1570924800  [0, 0, 0, 0, 0, 0, 0]
7       0  1571529600  [0, 0, 0, 0, 0, 0, 0]
8       0  1572134400  [0, 0, 0, 0, 0, 0, 0]
9       0  1572739200  [0, 0, 0, 0, 0, 0, 0]
10      0  1573344000  [0, 0, 0, 0, 0, 0, 0]
11      0  1573948800  [0, 0, 0, 0, 0, 0, 0]
12      0  1574553600  [0, 0, 0, 0, 0, 0, 0]
13      0  1575158400  [0, 0, 0, 0, 0, 0, 0]
14      0  1575763200  [0, 0, 0, 0, 0, 0, 0]
15      0  1576368000  [0, 0, 0, 0, 0, 0, 0]
16      0  1576972800  [0, 0, 0, 0, 0, 0, 0]
17      0  1577577600  [0, 0, 0, 0, 0, 0, 0]
18      0  1578182400  [0, 0, 0, 0, 0, 0, 0]
19      0  1578787200  [0, 0, 0, 0, 0, 0, 0]
20      0  1579392000  [0, 0, 0, 0, 0, 0, 0]
21      0  1579996800  [0, 0, 0, 0, 0, 0, 0]
22      0  1580601600  [0, 0, 0, 0, 0, 0, 0]
23      0  1581206400  [0, 0, 0, 0, 0, 0, 0]
24      0  1581811200  [0, 0, 0, 0, 0, 0, 0]
25      0  1582416000  [0, 0, 0, 0, 0, 0, 0]
26      0  1583020800  [0, 0, 0, 0, 0, 0, 0]
27      0  1583625600  [0, 0, 0, 0, 0, 0, 0]
28      0  1584230400  [0, 0, 0, 0, 0, 0, 0]
29      0  1584835200  [0, 0, 0, 0, 0, 0, 0]
30      0  1585440000  [0, 0, 0, 0, 0, 0, 0]
31      0  1586044800  [0, 0, 0, 0, 0, 0, 0]
32      0  1586649600  [0, 0, 0, 0, 0, 0, 0]
33      0  1587254400  [0, 0, 0, 0, 0, 0, 0]
34      0  1587859200  [0, 0, 0, 0, 0, 0, 0]
35      0  1588464000  [0, 0, 0, 0, 0, 0, 0]
36      0  1589068800  [0, 0, 0, 0, 0, 0, 0]
37      0  1589673600  [0, 0, 0, 0, 0, 0, 0]
38      0  1590278400  [0, 0, 0, 0, 0, 0, 0]
39      0  1590883200  [0, 0, 0, 0, 0, 0, 0]
40      0  1591488000  [0, 0, 0, 0, 0, 0, 0]
41      0  1592092800  [0, 0, 0, 0, 0, 0, 0]
42      0  1592697600  [0, 0, 0, 0, 0, 0, 0]
43      0  1593302400  [0, 0, 0, 0, 0, 0, 0]
44      0  1593907200  [0, 0, 0, 0, 0, 0, 0]
45      0  1594512000  [0, 0, 0, 0, 0, 0, 0]
46      0  1595116800  [0, 0, 0, 0, 0, 0, 0]
47      0  1595721600  [0, 0, 0, 0, 0, 0, 0]
48      0  1596326400  [0, 0, 0, 0, 0, 0, 0]
49      0  1596931200  [0, 0, 0, 0, 0, 0, 0]
50      0  1597536000  [0, 0, 0, 0, 0, 0, 0]
51      0  1598140800  [0, 0, 0, 0, 0, 0, 0]

In [23]:
data2['total'].value_counts() #cero commits

0    52
Name: total, dtype: int64